<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.eafit.dis.numerical"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.BisectionActivity"
            android:label="@string/title_activity_bisection" >
        </activity>
        <activity
            android:name=".views.NewtonActivity"
            android:label="@string/title_activity_newton" >
        </activity>
        <activity
            android:name=".views.IncrementalSearchActivity"
            android:label="@string/title_activity_incremental_search" >
        </activity>
        <activity
            android:name=".views.FalsePositionActivity"
            android:label="@string/title_activity_false_position" >
        </activity>
        <activity
            android:name=".views.FixedPointActivity"
            android:label="@string/title_activity_fixed_point" >
        </activity>
        <activity
            android:name=".views.SecantActivity"
            android:label="@string/title_activity_secant" >
        </activity>
    </application>

</manifest>
